.mt20 {
	margin-top: 10px;
}

.mt10 {
	margin-top: .1rem;
}

.mt5 {
	margin-top: .05rem;
}

.bge1 {
	background: #e1e1e1;
}

.bgf7 {
	background: #f7f7f9;
}

.imgbox img {
	display: block;
	width: 100%;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 1.18rem;
	background: #fff;
	z-index: 999;
}

.header .logo {
	margin-left: .3rem;
	padding-top: .2rem;
	width: 3.26rem;
}

.header .logo img {
	display: block;
	width: 100%;
}

.header .menu {
	height: 100%;
	width: .4rem;
	background: url(../img/menu.png) no-repeat center center;
	background-size: contain;
	margin-right: .2rem;
}

.header .menu.active {
	transform: rotate(90deg);
}

.menubox {
	position: fixed;
	top: 1.18rem;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 999;
}

.menubox .mask {
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all .3s;
}

.menubox.active .mask {
	opacity: 1;
}

.menubox .menulist {
	width: 70%;
	position: absolute;
	left: 100%;
	top: 0;
	bottom: 0;
	background: #282828;
	overflow: auto;
	transition: all .3s;
}

.menubox.active .menulist {
	left: 30%;
}

.menubox .menulist a {
	display: block;
	border-bottom: 1px solid #080808;
	color: #fbfbfb;
	font-size: .28rem;
	padding-left: .3rem;
	line-height: 1rem;
	position: relative;
}

.menubox .menulist a.subtitle:after {
	content: '';
	display: block;
	height: .25rem;
	width: .25rem;
	border: 1px solid transparent;
	border-right-color: #fff;
	border-bottom-color: #fff;
	position: absolute;
	right: .3rem;
	top: 50%;
	transform: rotate(-45deg) translateY(-50%);
}

.menubox .menulist li a.subtitle.open:after {
	transform: rotate(45deg) translateY(-50%);
}

.menubox .menulist .submenu {
	display: none;
}

.menubox .menulist .subtitle.open+.submenu {
	display: block;
}

.menubox .menulist .submenu a {
	font-size: .26rem;
	padding-left: .6rem;
}

.header~.banner {
	padding-top: 1.18rem;
}

.banner a,
.banner img {
	display: block;
	width: 100%;
}

.footer {
	background: #242424;
	color: #fff;
	font-size: .28rem;
	padding: .37rem .3rem .46rem;
}

.footer .share {
	margin-top: .15rem;
	margin-bottom: .35rem;
	overflow: hidden;
}

.footer .share i+i {
	margin-left: .1rem;
}

.footer .share i,
.footer .icon6,
.footer .icon5 {
	float: left;
	display: block;
	height: .4rem;
	width: .4rem;
	background: no-repeat center center;
	background-size: contain;

}

.footer .share i.icon1 {
	background-image: url(../img/icon1.png);
}

.footer .share i.icon2 {
	background-image: url(../img/icon2.png);
}

.footer .share i.icon3 {
	background-image: url(../img/icon3.png);
}

.footer .share i.icon4 {
	background-image: url(../img/icon4.png);
}

.footer .icon5 {
	background-image: url(../img/icon5.png);

}

.footer .icon6 {
	background-image: url(../img/icon6.png);

}

.footer .icon6,
.footer .icon5 {
	margin-right: .25rem;
}

.footer .telphone {
	margin-top: .25rem;
	margin-bottom: .15rem;
}

.footer .copyright {
	margin-top: .3rem;
	text-align: center;
	border-top: 1px solid #fff;
	line-height: .4rem;
	padding: .2rem .45rem 0;
	font-size: .24rem;
}

.footer {
	position: relative;
}

.footer .qr {
	position: absolute;
	background: #fff;
	padding: .1rem;
	top: .4rem;
	right: .25rem;
}

.footer .qr img {
	display: block;
	width: 1.4rem;
}

.modbox {
	background: #fff;
}

.modbox .modbox-hd {
	line-height: 1.06rem;
	border-bottom: 1px solid #d8d8d8;
	padding: 0 .3rem 0 .55rem;
	position: relative;
	color: #333;
	font-size: .38rem;
}

.modbox .modbox-hd:before {
	content: '';
	display: block;
	height: .4rem;
	width: .06rem;
	background: #2494a0;
	position: absolute;
	left: .3rem;
	top: 50%;
	transform: translateY(-50%);
}

.modbox .modbox-hd:after {
	content: '';
	display: block;
	position: absolute;
	right: .3rem;
	width: .24rem;
	height: 100%;
	top: 0;
	background: url(../img/arrow.png) no-repeat center center;
	background-size: contain;
}

.areamenu {
	margin: .3rem .15rem 0;
}

.areamenu li {
	float: left;
	width: 50%;
	padding: 0 .15rem;
	margin-bottom: .3rem;
}

.areamenu li a {
	display: block;
	width: 100%;
	border-radius: .1rem;
	overflow: hidden;
	position: relative;
}

.areamenu li a .tip {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	line-height: .6rem;
	text-align: center;
	color: #fff;
	font-size: .28rem;
	background: rgba(0, 0, 0, .5);
}

.modbox-bd {
	color: #333;
	font-size: .26rem;
	line-height: .42rem;
}

.aboutus .modbox-bd {
	padding: .3rem .3rem .4rem;
}

.more {
	color: #fff;
	line-height: .5rem;
	width: 2rem;
	display: block;
	border-radius: .5rem;
	margin: .6rem auto 0;
	background: #2494a0;
	font-size: .26rem;
	text-align: center;
}

.youshi .modbox-bd,
.equipment .modbox-bd,
.news .modbox-bd,
.friend .modbox-bd {
	padding: .3rem;
}

.youshi .menu {
	background: #282828;
	color: #fff;
	position: relative;
}

.youshi .menu:before {
	content: '';
	display: block;
	height: 1px;
	width: 6.3rem;
	position: absolute;
	background: rgba(255, 255, 255, .1);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.youshi .menu i {
	display: block;
	width: .7rem;
	height: .7rem;
	margin: 0 auto .1rem;
	background: no-repeat center center;
	background-size: contain;
}

.youshi .menu li {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
}

.youshi .menu li:nth-child(2n+1):after {
	content: '';
	display: block;
	width: 1px;
	background: rgba(255, 255, 255, .1);
	top: 50%;
	right: 0;
	height: 1rem;
	position: absolute;
	transform: translateY(-50%);
}

.youshi .menu li a {
	display: block;
	text-align: center;
	color: #fff;
	font-size: .3rem;
	padding: .4rem 0;
}

.youshi .menu i.icon1 {
	background-image: url(../img/icon7.png);
}

.youshi .menu i.icon2 {
	background-image: url(../img/icon8.png);
}

.youshi .menu i.icon3 {
	background-image: url(../img/icon9.png);
}

.youshi .menu i.icon4 {
	background-image: url(../img/icon10.png);
}

.equipment .equlist {
	margin: 0 -.15rem -.3rem;
}

.equipment .equlist li {
	float: left;
	width: 50%;
	padding: 0 .15rem;
	margin-bottom: .3rem;
}

.equipment .equlist li a {
	display: block;
	border: 1px solid #eee;
}

.equipment .equlist li .imgbox+div {
	padding: .2rem;
	border-top: 1px solid #eee;
	font-size: .24rem;
	color: #999;
}

.equipment .equlist li .imgbox+div p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.equipment .equlist li .imgbox+div p:first-child {
	font-size: .28rem;
	color: #333;
}

.news .news-item a {
	display: block;
	position: relative;
}

.news .news-item a>img {
	display: block;
	width: 100%;
}

.news .news-item a .tip {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: .9rem;
	color: #fff;
	font-size: .28rem;
	padding-left: .2rem;
	background: rgba(0, 0, 0, .5);
	line-height: .34rem;
	padding-top: .1rem;
}

.news .news-item a .tip .name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news .news-item a .time i {
	display: inline-block;
	width: .25rem;
	height: .25rem;
	background: url(../img/time.png) no-repeat center center;
	background-size: contain;
	margin-right: .05rem;
}

.news .news-item a .time i,
.news .news-item a .time span {
	vertical-align: middle;
}

.team .modbox-bd {
	padding: .3rem 0;
}

.team .swiper-slide a,
.team .swiper-slide img {
	display: block;
	width: 100%;
	border-radius: .1rem;
	overflow: hidden;
	position: relative;
}

.team .swiper-slide a div {
	color: #fff;
	position: absolute;
	bottom: .2rem;
	left: .15rem;
	font-size: .24rem;
}

.team .swiper-slide a div p:first-child {
	font-size: .28rem;
}

.news ul {
	margin: 0 -.15rem;
}

.news ul li {
	float: left;
	width: 50%;
	padding: 0 .15rem;
	margin: .12rem 0;
}

.friend ul {
	margin: -.15rem;
}

.friend ul li {
	float: left;
	width: 33.33%;
	padding: .15rem;
}

.friend ul li a {
	border: 1px solid #eee;
}

.friend ul li a,
.friend ul li img {
	display: block;
	width: 100%;
}

.tabnav {
	background: #fff;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border-bottom: 1px solid #eee;
	line-height: 1.05rem;
	font-size: .38rem;
	color: #333;
}

.tabnav>div {
	white-space: nowrap;
}

.tabnav a {
	padding: 0 .4rem;
	display: inline-block;
}

.tabnav a.active {
	color: #2494a0;
	position: relative;
}

.tabnav a.active:after {
	content: '';
	display: block;
	background: #2494a0;
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.onetabnav.tabnav a {
	display: block;
	text-align: center;
	margin: 0 .3rem;
}

.company .imgbox {
	padding: .3rem .3rem 0;
	background: #fff;
}

/* .company img {
	display: block;
	width: 100%;
} */

.company-modbox {
	color: #999;
	font-size: .26rem;
	line-height: .42rem;
	background: #fff;
	padding: .3rem;
}

.company-modbox .company-modbox-hd {
	font-size: .2rem;
	color: #333;
	padding: .3rem 0 .2rem;
	border-bottom: 1px solid #eee;
	line-height: 1;
}

.company-modbox .company-modbox-hd i {
	display: inline-block;
	height: .6rem;
	width: .4rem;
	background: #2494a0;
	color: #fefefe;
	font-size: .6rem;
	line-height: .6rem;
	text-align: center;
	margin-right: .1rem;
}

.company-modbox .company-modbox-hd p:first-child {
	font-size: .3rem;

}

.company-modbox .company-modbox-bd {
	padding: .2rem 0;
}

#certify {
	position: relative;
	width: 100%;
	margin: .5rem auto .2rem;
	padding: .4rem 0 1.4rem;
	background: url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
}

#certify .swiper-container {
	padding-bottom: .6rem;
}

#certify .swiper-slide {
	width: 3.8rem;
	height: 4.6rem;
	background: #fff;
	box-shadow: 0 0 .1rem rgba(0, 0, 0, .1);
	opacity: .8;
}

#certify .swiper-slide p {
	line-height: .42rem;
	color: #333;
	font-size: .26rem;
	padding: .3rem;
}

#certify .swiper-slide p.name {
	color: #fff;
	background: #2494a0;
	font-size: .28rem;
	line-height: .8rem;
	text-align: center;
	padding: 0;
}

#certify .swiper-pagination {
	width: 100%;
	bottom: 20px;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
	border: 3px solid #fff;
	background-color: #d5d5d5;
	width: 10px;
	height: 10px;
	opacity: 1;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
	border: 3px solid #00aadc;
	background-color: #fff;
}

#certify .swiper-button-prev,
#certify .swiper-button-next {
	height: .5rem;
	width: .8rem;
	display: block;
	background: #2494a0 no-repeat center center;
	top: auto;
	bottom: .4rem;
	border-radius: .05rem;
	background-size: .13rem auto;
}

#certify .swiper-button-prev {
	left: 50%;
	margin-left: -1rem;
	background-image: url(../img/arrow3.png);
}

#certify .swiper-button-next {
	left: 50%;
	margin-left: .2rem;
	background-image: url(../img/arrow2.png);
}

#certify .imgbox {
	background: #fff;
	height: 3.8rem;
}

#certify .imgbox img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.equlist,
.teamlist {
	padding: .5rem .3rem 0;
	margin-bottom: .2rem;
	background: #fff;
}

.equlist ul,
.teamlist ul {
	margin: 0 -.15rem;
}

.equlist ul li,
.teamlist ul li {
	width: 50%;
	padding: 0 .15rem;
	margin-bottom: .3rem;
	float: left;
}

.equlist ul li a {
	display: block;
	border: 1px solid #eee;
}

.equlist ul li a .imgbox {
	display: block;
	background: #f2f2f2;
	padding: .3rem;
	border-bottom: 1px solid #eee;
}

.equlist ul li a .imgbox img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.equlist ul li a .imgbox+div,
.teamlist ul li a .imgbox+div {
	padding: .2rem .1rem;
	font-size: .24rem;
	color: #666;
	line-height: 1;
}

.equlist ul li a .imgbox+div p,
.teamlist ul li a .imgbox+div p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}

.equlist ul li a .imgbox+div p:first-child,
.teamlist ul li a .imgbox+div p:first-child {
	color: #333;
	font-size: .28rem;
	margin-bottom: .1rem;
}

.teamlist ul li a {
	display: block;
}

.teamlist ul li a .imgbox {
	border-radius: .2rem;
	overflow: hidden;
}

.teamlist ul li a .imgbox img {
	display: block;
	width: 100%;
}

.honorbox#certify {
	background: #282828;
}

.honorbox .tablink {
	text-align: center;
}

.honorbox .tablink a {
	display: inline-block;
	color: #fff;
	font-size: .3rem;
	font-weight: bold;
	width: 2.2rem;
	height: .8rem;
	line-height: .8rem;
	background: #949494;
	margin: 0 .1rem .55rem;
}

.honorbox .tablink a:hover,
.honorbox .tablink a.active {
	background: #2494a0;

}

.honorbox .tablink a img,
.honorbox .tablink a span {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}

.honorbox .tablink a img {
	height: .4rem;
}

.honorbox#certify .swiper-slide {
	background: none;
}

.friendlist,
.knowlist,
.arealist,
.contact,
.service {
	padding: .3rem .3rem 0;
	margin-bottom: .2rem;
	background: #fff;
}

.friendlist ul,.arealist ul {
	margin: 0 -.15rem;
}

.friendlist ul li {
	float: left;
	width: 33.33%;
	padding: 0 .15rem;
	margin-bottom: .3rem;
}

.friendlist ul li a,
.friendlist ul li img {
	display: block;
	width: 100%;
}

.friendlist ul li a {
	border: 1px solid #eee;
}

.page {
	text-align: center;
	padding: .2rem 0 .5rem;
}

.page a {
	height: .5rem;
	width: .8rem;
	display: inline-block;
	background: #2494a0 no-repeat center center;
	top: auto;
	bottom: .4rem;
	border-radius: .05rem;
	background-size: .13rem auto;
	margin: 0 .15rem;
}

.page a.prev {
	background-image: url(../img/arrow3.png);
}

.page a.next {
	background-image: url(../img/arrow2.png);
}

.knowlist li a {
	display: block;
	font-size: .26rem;
	color: #666;
	line-height: .42rem;
	padding: .27rem 0;
	border-bottom: 1px solid #eee;
}

.knowlist li a .imgbox {
	width: 2.4rem;
	margin-right: .2rem;

}

.knowlist li a .name {
	color: #333;
	font-size: .28rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.knowlist li a p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-top: .1rem;
}

.company {
	background: #fff;
	padding: .3rem;
	color: #333;
	font-size: .28rem;
	line-height: .42rem;
}

.company img {
	display: block;
	width: 100%;
	margin-top: .3rem;
}

.company .name,
.contact .name {
	font-size: .3rem;
	margin-bottom: .1rem;
}

.contact {
	color: #333;
	margin-bottom: .2rem;
}

.contact .input-group .input-row {
	font-size: .28rem;
	margin-bottom: .3rem;
}

.contact .input-group .input-row input,
.contact .input-group .input-row textarea {
	border: 1px solid #bfbfbf;
	border-radius: .05rem;
	line-height: .7rem;
	display: block;
	width: 100%;
	margin-top: .1rem;
	padding-left: .1rem;
}

.service img {
	display: block;
	width: 100%;
}
.arealist ul li{
	float: left;
	width: 50%;
	padding: 0 .15rem;
}.arealist ul li a{
	display: block;
	border: 1px solid #eee;
}.arealist ul li a .txt{
	padding: .15rem;
	color: #333;
	font-size: .28rem;
}.arealist ul li a .txt p{
	color: #999;
	font-size: .24rem;
	line-height: .34rem;
	overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp:2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
}