.bge1{
	background: #e1e1e1;
}
.imgbox img{
	display: block;width: 100%;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 1.18rem;
	background: #fff;
	z-index: 999;
}

.header .logo {
	margin-left: .3rem;
	padding-top: .2rem;
	width: 3.26rem;
}

.header .logo img {
	display: block;
	width: 100%;
}

.header .menu {
	height: 100%;
	width: .4rem;
	background: url(../img/menu.png) no-repeat center center;
	background-size: contain;
	margin-right: .2rem;
}
.header .menu.active{
	transform: rotate(90deg);
}
.menubox {
	position: fixed;
	top: 1.18rem;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

.menubox .mask {
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all .3s;
}
.menubox.active .mask{
	opacity: 1;
}
.menubox .menulist {
	width: 70%;
	position: absolute;
	left:100%;
	top: 0;
	bottom: 0;
	background: #282828;
	overflow: auto;transition: all .3s;
}
.menubox.active .menulist{
	left: 30%;
}
.menubox .menulist a {
	display: block;
	border-bottom: 1px solid #080808;
	color: #fbfbfb;
	font-size: .28rem;
	padding-left: .3rem;
	line-height: 1rem;
	position: relative;
}

.menubox .menulist a.subtitle:after {
	content: '';
	display: block;
	height: .25rem;
	width: .25rem;
	border: 1px solid transparent;
	border-right-color: #fff;
	border-bottom-color: #fff;
	position: absolute;
	right: .3rem;
	top: 50%;
	transform: rotate(-45deg) translateY(-50%);
}

.menubox .menulist li a.subtitle.open:after {
	transform: rotate(45deg) translateY(-50%);
}

.menubox .menulist .submenu {
	display: none;
}
.menubox .menulist .subtitle.open+ .submenu{
	display: block;
}
.menubox .menulist .submenu a {
	font-size: .26rem;
	padding-left: .6rem;
}

.header+div {
	padding-top: 1.18rem;
}

.banner a,
.banner img {
	display: block;
	width: 100%;
}

.footer{
	background: #242424;
	color: #fff;
	font-size: .28rem;
	padding: .37rem .3rem .46rem;
}
.footer .share{
	margin-top: .15rem;
	margin-bottom: .35rem;
	overflow: hidden;
}
.footer .share i+i{
	margin-left: .1rem;
}
.footer .share i,.footer .icon6,.footer .icon5{
	float: left;
	display: block;
	height: .4rem;
	width: .4rem;
	background: no-repeat center center;
	background-size: contain;
	
}
.footer .share i.icon1{
	background-image: url(../img/icon1.png);
}
.footer .share i.icon2{
	background-image: url(../img/icon2.png);
}
.footer .share i.icon3{
	background-image: url(../img/icon3.png);
}
.footer .share i.icon4{
	background-image: url(../img/icon4.png);
}
.footer .icon5{
	background-image: url(../img/icon5.png);
	
}
.footer .icon6{
	background-image: url(../img/icon6.png);
	
}
.footer .icon6,.footer .icon5{
	margin-right: .25rem;
}
.footer .telphone{
	margin-top: .25rem;
	margin-bottom: .15rem;
}
.footer .copyright{
	margin-top: .3rem;
	text-align: center;
	border-top: 1px solid #fff;
	line-height: .4rem;
	padding: .2rem .45rem 0;font-size: .24rem;
}
.footer{
	position: relative;
}
.footer .qr{
	position: absolute;
	background: #fff;
	padding: .1rem;
	top: .4rem;
	right: .25rem;
}.footer .qr img{
	display: block;
	width: 1.4rem;
}
.modbox{
	background: #fff;
}
.modbox .modbox-hd{
	line-height: 1.06rem;
	border-bottom: 1px solid #d8d8d8;
	padding: 0 .3rem 0 .55rem;
	position: relative;
	color: #333;
	font-size: .38rem;
}
.modbox .modbox-hd:before{
	content: '';
	display: block;
	height: .4rem;
	width: .06rem;
	background: #2494a0;
	position: absolute;
	left: .3rem;
	top: 50%;
	transform: translateY(-50%);
}
.modbox .modbox-hd:after{
	content: '';
	display: block;
	position: absolute;
	right: .3rem;
	width: .24rem;
	height: 100%;
	top: 0;
	background: url(../img/arrow.png) no-repeat center center;
background-size: contain;
}
.areamenu{
	margin:.3rem .15rem 0;
}
.areamenu li{
	float: left;
	width: 50%;
	padding: 0 .15rem;
	margin-bottom: .3rem;
}
.areamenu li a{
	display: block;
	width: 100%;
	border-radius: .1rem;
	overflow: hidden;
	position: relative;
}
 .areamenu li a .tip{
	 position: absolute;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 line-height: .6rem;
	 text-align: center;
	 color: #fff;
	 font-size: .28rem;
	 background: rgba(0,0,0,.5);
 }